@charset "UTF-8";

:root {
  --color333: #333;
  --color555: #555;
  --color777: #777;
  --color999: #999;
  --mainColor: #623ad6;
  --errorColor: #f96464;
  --ongolingColor: #00b19c;
  --holdColor: #514474;
  --whiteColor: #fff;
  --fontBold: bold;
  --fontMedium: normal;
  --bgGray: #faf9f9;
  --bgEee: #eee;
}

.container__inner {
  position: relative;
  height: 100%;
  max-width: 1304px;
  padding: 0 50px;
  margin: 0 auto;
}

.container__banner {
  position: relative;
  display: block;
  height: 900px;
  margin-top: 130px;
}

.container__banner .container__inner {
  position: relative;
  display: flex;
  justify-content: space-between; align-items: center;
  height: 100%;
}

.container__banner .text-wrap {
  width: 50%;
}

.container__banner h2.text-title {
  width: 100%;
  margin-bottom: 20px;
  font-size: 60px;
  line-height: 1.2;
}

.container__banner p.text-sub-title {
  margin-bottom: 20px;
}

.container__banner a {
  display: inline-block;
  background-color: var(--mainColor);
  width: 180px;
  padding: 14px 27px;
  border-radius: 50px;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
}
.container__banner a:hover {
  background-color: var(--holdColor);
  text-decoration: underline;
}

.container__banner .img-wrap {
  position: absolute;
  top: -30px; right: -50%;
  width: calc(100% - 100px);
  text-align: center;
}

.container__banner .img-wrap.okr { top: 150px; right: -42%; }
img.okr-pc { display: block; }
img.okr-mobile { display: none; }

@media screen and (max-width: 1024px) {
  .container__banner { margin-top: 100px; padding: 40px 0 80px; }
  .container__banner .container__inner { flex-direction: column; align-items: flex-start; }
  .container__banner .text-wrap { width: 100%; }
  .container__banner h2.text-title { font-size: 30px; }
  .container__banner p.text-sub-title br { display: none; }
  .container__banner .img-wrap { position: static; margin-top: 80px; width: 100%; }
  .container__banner .img-wrap img { width: 100%; }
  .okr-pc { display: none; }
  .okr-mobile { display: block; }
}

@media screen and (max-width: 640px) {
  .container__inner { padding: 0 20px; }
}
/* container__banner (content-0) end */

article { 
  position: relative;
  display: block;
  width: 100%; height: 650px;
  overflow: hidden;
}
article:nth-child(odd) { background: #fff; }
article:nth-child(even) { background: #f5f4f9; }
.contents-wrap {
  display: flex; flex-direction: row;
  justify-content: space-between; align-items: center;
  width: 100%; height: 100%;
}
article:nth-child(odd) .contents-wrap { flex-direction: row-reverse; }
.contents-wrap .img-wrap {
  position: relative;
  left: -145px; right: auto; bottom: -165px;
  width: 100%;
  text-align: center;
}
.contents-wrap .img-wrap.okr { bottom: -50px; }
.contents-wrap .img-wrap img { width: 100%; }
article:nth-child(odd) .contents-wrap .img-wrap {
  left: auto; right: -160px;
}
.contents-wrap .text-wrap {
  width: 50%;
}
.contents-wrap .text-wrap h2.text-title {
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 44px;
}
.contents-wrap .text-wrap .text-content {
  width: 400px;
  margin-bottom: 40px;
}

@media screen and (max-width: 1024px) {
  article { height: auto; padding: 80px 0; }
  .contents-wrap { flex-direction: column; }
  article:nth-child(odd) .contents-wrap { flex-direction: column-reverse; }
  .contents-wrap .img-wrap { position: static; margin: 0 auto; }
  .contents-wrap .img-wrap img { height: 100%; }
  .contents-wrap .text-wrap { width: 100%; }
  .contents-wrap .text-wrap h2.text-title { margin-top: 40px; font-size: 20px; line-height: 30px; }
  .contents-wrap .text-wrap .text-content { width: auto; font-size: 16px; margin-top: 1em; }
}

@media screen and (max-width: 900px) {
  .contents-wrap .img-wrap img { width: 100%; height: auto; }
}
/* contents end */

.container__businessBanner {
  height: 400px !important;
  background: url(../images/businessBanner.jpg) no-repeat center center / cover;
}
.container__businessBanner .cover {
  position: relative;
  top: -76px;
  width: 100%; height: 400px;
  padding: 76px 0;
  background: rgba(0, 0, 0, 0.5);
}
.flow-symbols { margin: 0; }
.container__businessBanner .text p.text-subtitle {
  text-align: left;
  font-weight: 500;
}
.container__businessBanner .text a {
  display: block;
  width: 210px; height: 52px;
  background: transparent;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  line-height: 50px;
  text-align: left;
}
.container__businessBanner .text a:hover { background: rgba(255, 255, 255, 0.15); }
.container__businessBanner .text a>i {
  top: 16px;
  color: #fff;
}

@media screen and (max-width: 1024px) {
  .container__businessBanner .cover { top: -83px; }
  .flow-symbols { width: 160px; }
  .flow-symbols>i { width: 16px; height: 16px; }
  .container__businessBanner .text p.text-subtitle { margin: 30px 0; font-size: 18px; line-height: 26px !important; }
}
/* business banner end */