@charset "UTF-8";

:root {
  --color333: #333;
  --color555: #555;
  --color777: #777;
  --color999: #999;
  --mainColor: #623ad6;
  --errorColor: #f96464;
  --ongolingColor: #00b19c;
  --holdColor: #514474;
  --whiteColor: #fff;
  --fontBold: bold;
  --fontMedium: normal;
  --bgGray: #faf9f9;
  --bgEee: #eee;
}

.project-banner {
  position: relative;
  height: 900px;
  margin-top: 130px;
}

.project-banner .container__inner {
  position: relative;
  display: flex;
  justify-content: space-between; align-items: center;
  height: 100%;
}

.project-banner .text-wrap {
  width: 100%;
}

.project-banner h2.text-title {
  width: 100%;
  margin-bottom: 20px;
  font-size: 60px;
  line-height: 1.2;
}

.project-banner p.text-sub-title {
  margin-bottom: 20px;
}

.project-banner a {
  display: inline-block;
  background-color: var(--mainColor);
  width: 180px;
  padding: 14px 27px;
  border-radius: 50px;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
}
.project-banner a:hover {
  background-color: var(--holdColor);
  text-decoration: underline;
}

.project-banner .img-wrap {
  position: absolute;
  right: -46%;
  width: calc(100% - 100px);
  text-align: center;
}