@charset "UTF-8";

:root {
  --color333: #333;
  --color555: #555;
  --color777: #777;
  --color999: #999;
  --mainColor: #623ad6;
  --errorColor: #f96464;
  --ongolingColor: #00b19c;
  --holdColor: #514474;
  --whiteColor: #fff;
  --fontBold: bold;
  --fontMedium: normal;
  --bgGray: #faf9f9;
  --bgEee: #eee;
}